@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-variant: small-caps;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  padding-top: 16px;
  padding-bottom: 8px;
}

h2 {
  font-variant: small-caps;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  padding-top: 6px;
  padding-bottom: 6px;
}

h3 {
  font-variant: small-caps;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  padding-top: 6px;
  padding-bottom: 6px;
}

.link {
  color: rgb(59 130 246);
  text-decoration-line: underline;
}
